<div class="page-header">
    <h1>School Log</h1>
</div>

<p>Welcome to the test prototype of the <b>School Log</b> application.</p>
<p>
    Under the <b>Students</b> menu, you can add, edit, and delete students.
    When creating a new student, please ensure that the name is spelled
    correctly. Entries in the database are indexed in part by student names,
    and therefore student names cannot be edited after creating them.
</p>
<p>
    Under the <b>Entries</b> menu, you can view and filter your school
    activity entries as well as add new ones. Any blanks or zeroes in the
    query form
    will be ignored. Use this form to filter down to only those entries you
    want to view. The menu to add a new entry is at the bottom of the page,
    but a link is provided at the top to help you get to it if you have a lot
    of entries.
</p>
<p>
    Feel free to submit an issue or feedback at the
    <a href="https://github.com/jfmario/school-log-client" target="_blank">
        GitHub Repository
    </a> or by e-mailing <a href="mailto:schoollog@johnfmarion.com">
        schoollog@johnfmarion.com
    </a>.
</p>
