
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <p class="center" *ngIf="children.length==0">
            You have no students.
        </p>

        <ul class="list-group">
            <li
                *ngFor="let student of children"
                class="list-group-item row"
            >
                <a class="col-md-6">{{ student.name }}</a>
                <a class="col-md-3 label label-info" (click)="edit(student)">EDIT</a>
                <a class="col-md-3 label label-danger" (click)="delete(student.name,student._id)">DELETE</a>
            </li>
            <li class="list-group-item row">
                <a class="col-md-12" [routerLink]="['/newstudent']">Add Student</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>
